/* Add CSS styling here inedx.html */

*{
    text-align: center;
   
    font-family: "crimson pro";
}

title {
    border: 1px solid black;
}
.top-contain{
margin: 10%;

}

.tabs{
    display: flex;
    justify-content: center;
    
}


.tabs a{
    text-decoration: none;
    color: white;
    /*border: 1px solid black;*/
    background-color: blueviolet;
    font-family: sans-serif;
    padding: 10px;
    
    
    
    
    
}




.body2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0px;
}
    
    /*align-content: flex-start;*/
  

 }
 .intoducing-site {
     font-size: 900px;
     
 }


 
 .banner img{
     width: 90%;
     height: 300px;
     object-fit: cover;
     object-position: 0% 80%;
 }
     .columns img{
         flex-direction: row;
         width: 150px;
         height: 250px;
         
     }

     .p1{
        width: 250px;

       
     }
 
.footer{
    background: dimgray;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 footer button{
     border-radius: 3px;
     width: 90px;
    background: blueviolet;
    color: white;
    height: 40px;
    border: black;
    font-family: sans-serif;
    align-content: flex-start;

   
 }

    .tabs a:hover, .footer button:hover{
        background: grey;


    }


 /* Contact.html*/
.head2 {
 font-family: "crimson pro";
 font-size:100px;

}
.contacts a {
    text-decoration: none;
    color: black;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


    
@media all and (max-width: 800px)
{
    .body2 {flex-direction: column;
        width: 100%;
    
    }
    


  
    
    .tabs a {
        display: flex;
        flex-direction: column;
        width: 150%;
        border: solid black 1px;
    }
}

@media all and (max-width: 500px)
{
    header{text-align: center; 
    }

    .tabs a{
        display: flex;
        flex-direction: column-reverse;
    }

}


